.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: rgb(0, 0, 0);
    font-weight: 20px;
}
.home_container h1 span {
    color: rgb(0, 0, 0);
    padding: 0 .2em;
    background-color: rgb(49, 49, 49);
}
.home_container p {
    margin-bottom: 1.5em;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.description {
    align-items: center;
    width: 450px;
    padding-left: 100px;
}
.me {
    display: flex;
    padding-right: 20px;
}
.profile {
    width: 470px;
    height: 500px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 100px;
    border-radius: 20px;
    border-top: 20px;
}
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgb(197,140,235);
    background: linear-gradient(90deg, rgba(197,140,235,1) 0%, rgba(196,91,201,1) 41%, rgba(137,69,168,1) 57%, rgba(78,43,143,1) 82%, rgba(14,11,111,1) 100%);
    padding: 10px 0;
    color: white;
    margin: 0;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

.contact {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgb(197,140,235);
    background: linear-gradient(90deg, rgba(197,140,235,1) 0%, rgba(196,91,201,1) 41%, rgba(137,69,168,1) 57%, rgba(78,43,143,1) 82%, rgba(14,11,111,1) 100%);
    padding: 1px 0;
    color: white;
    margin: 0;
    z-index: 1000; /* Garante que o footer fique acima de outros elementos */
}
.skillsSection {
    display: flex;
    flex-direction: row; /* Altera a direção para linha */
    gap: 15px; 
}
